<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <!-- bootstrap mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tag Test</title>

    <link rel="stylesheet" href="{% static "css/selector.css" %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}

    <div class="container">
        <h1 align="center">Head 1</h1>

        <div class="test-class">
            <img src="{% static "pic/kitten.jpg" %}" />

            <p>Test content in div.</p>
        </div>

        <p>Test content <span class="highlight">out</span> div.</p>

        <ol start="11">
            <oi>item 11</oi><br/>
            <oi>item 12</oi><br/>
        </ol>

        <p id="test-long-paragraph">It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. It is a very long paragraph. </p>

        <a class="btn btn-default" href="#" role="button">Link</a>
        <button class="btn btn-default" type="submit">Button</button>
        <input class="btn btn-default" type="button" value="Input">
        <input class="btn btn-default" type="submit" value="Submit">
    </div>
</body>

</html>