{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for todo in todo_lst %}
    <tr>
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
      {% if todo.completed %}
        <td><del>"Completed"</del></td>
      {% else %}
        <td>
          <form action="/complete/{{ todo.id }}">
              <button class="btn btn-primary" type="submit">Complete</button>
          </form>
        </td>
      {% endif %}
      <td>
        <form action="/delete/{{ todo.id }}">
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Add a form tag. -->
    <form method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Todo</span>
                        </div>
                        <!-- Add name attr. -->
                        <input type="text" class="form-control" placeholder="Add an todo item" aria-label="Todo" name="title" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!-- Add an hidden input action. -->
                <input type="hidden" name="action" value="add"/>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
