@model WebApplicationMVC.Models.AppTestModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppTestModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppTestInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppTestInput)
            <ul>
                @foreach (var c in Model.Children)
                {
                    <li>@c.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
