@model WebApplicationMVCDemo.Models.ToDoItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ToDoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" />
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <select asp-for="ProjectId" class="control-label" asp-items="ViewBag.ProjectId">
                    <option value="">Select Project ...</option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
                <a asp-controller="Projects" asp-action="Create">Create a New Project</a>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="Html.GetEnumSelectList<TaskState>()">
                    <option>The task state ...</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
