@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <br />
    <label asp-for="Username">Username:</label>
    <br />
    <input stype="font-size: 18px; width: 500px;" asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />
    <label>Password:</label>
    <br />
    <input type="password" name="password" />
    <br />
    <label asp-for="Email">email:</label>
    <br />
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Subject">Subject:</label>
    <br />
    <input type="text" asp-for="Subject" />
    <span asp-validation-for="Subject"></span>
    <br />
    <label asp-for="Message">Message:</label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <span asp-validation-for="Message"></span>
    <br />
    <input type="submit" value="Send Message" />
    <div>@ViewBag.UserMessage</div>
</form>