body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

input[type=submit] {
    width: auto;
}

label {
    font-size: 16px;
}

div#theForm {
    background-color: lightgrey;
}

#theForm input[type=submit] {
    background-color: green;
    color: white;
}

.product-props {
    font-size: small;
}

ul.product-props li {
    list-style-type: none;
}